In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [5]:
ufo.isnull().tail()

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

In [6]:
ufo.notnull().tail()

       City  Colors Reported  Shape Reported  State  Time
18236  True            False            True   True  True
18237  True            False            True   True  True
18238  True            False           False   True  True
18239  True             True            True   True  True
18240  True            False            True   True  True

In [7]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [9]:
ufo[ufo.City.isnull()]

      City Colors Reported Shape Reported State              Time
21     NaN             NaN            NaN    LA    8/15/1943 0:00
22     NaN             NaN          LIGHT    LA    8/15/1943 0:00
204    NaN             NaN           DISK    CA   7/15/1952 12:30
241    NaN            BLUE           DISK    MT    7/4/1953 14:00
613    NaN             NaN           DISK    NV    7/1/1960 12:00
1877   NaN          YELLOW         CIRCLE    AZ    8/15/1969 1:00
2013   NaN             NaN            NaN    NH     8/1/1970 9:30
2546   NaN             NaN       FIREBALL    OH  10/25/1973 23:30
3123   NaN             RED       TRIANGLE    WV  11/25/1975 23:00
4736   NaN             NaN         SPHERE    CA   6/23/1982 23:00
5269   NaN             NaN            NaN    AZ   6/30/1985 21:30
6735   NaN             NaN      FORMATION    TX     4/1/1992 2:00
7208   NaN             NaN         CIRCLE    MI   10/4/1993 17:30
8828   NaN             NaN       TRIANGLE    WA  10/30/1995 21:30
8967   NaN             NaN        VARIOUS    CA   12/8/1995 18:00
9273   NaN             NaN       TRIANGLE    OH     5/1/1996 3:00
9388   NaN             NaN           OVAL    CA   6/12/1996 12:00
9587   NaN             NaN            EGG    FL   8/24/1996 15:00
10399  NaN             NaN       TRIANGLE    IL   6/15/1997 23:00
11625  NaN             NaN         CIRCLE    TX     6/7/1998 7:00
12441  NaN             RED       FIREBALL    WA  10/26/1998 17:58
15767  NaN             NaN      RECTANGLE    NV   1/21/2000 11:30
15812  NaN             NaN          LIGHT    NV     2/2/2000 3:00
16054  NaN           GREEN            NaN    FL    3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY   6/15/2000 15:00

In [10]:
ufo.shape

(18241, 5)

In [11]:
ufo.dropna(how='any').shape

(2486, 5)

In [12]:
ufo.dropna(how='all').shape

(18241, 5)

In [13]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [16]:
ufo.dropna(subset=['City','Colors Reported'], how = 'any').shape

(2877, 5)

In [17]:
ufo.dropna(subset=['City','Shape Reported'], how = 'any').shape

(15576, 5)

In [19]:
ufo.dropna(subset=['City','Shape Reported'], how = 'all').shape

(18237, 5)

In [20]:
ufo['Shape Reported'].value_counts()

LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
FLARE           1
DOME            1
HEXAGON         1
PYRAMID         1
Name: Shape Reported, dtype: int64

In [22]:
ufo['Shape Reported'].value_counts(dropna = False)

LIGHT        2803
NaN          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
DOME            1
HEXAGON         1
FLARE           1
PYRAMID         1
Name: Shape Reported, dtype: int64

In [23]:
ufo['Shape Reported'].fillna(value = 'Various', inplace = True)

In [24]:
ufo['Shape Reported'].value_counts()

LIGHT        2803
Various      2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
FLARE           1
DOME            1
HEXAGON         1
PYRAMID         1
Name: Shape Reported, dtype: int64

In [28]:
ufo['Colors Reported'].value_counts(dropna = False)

NaN                       15359
RED                         780
GREEN                       531
ORANGE                      528
BLUE                        450
YELLOW                      169
RED GREEN                    89
RED BLUE                     78
RED ORANGE                   44
GREEN BLUE                   34
RED GREEN BLUE               33
ORANGE YELLOW                26
RED YELLOW                   25
ORANGE GREEN                 23
YELLOW GREEN                 17
ORANGE BLUE                  10
RED YELLOW GREEN              9
YELLOW BLUE                   6
YELLOW GREEN BLUE             5
ORANGE GREEN BLUE             5
RED YELLOW GREEN BLUE         4
RED ORANGE YELLOW             4
RED ORANGE GREEN              3
RED ORANGE BLUE               3
RED YELLOW BLUE               3
ORANGE YELLOW BLUE            1
RED ORANGE YELLOW BLUE        1
ORANGE YELLOW GREEN           1
Name: Colors Reported, dtype: int64

In [29]:
ufo['Colors Reported'].fillna(value = 'Mix', inplace = True)

In [30]:
ufo['Colors Reported'].value_counts()

Mix                       15359
RED                         780
GREEN                       531
ORANGE                      528
BLUE                        450
YELLOW                      169
RED GREEN                    89
RED BLUE                     78
RED ORANGE                   44
GREEN BLUE                   34
RED GREEN BLUE               33
ORANGE YELLOW                26
RED YELLOW                   25
ORANGE GREEN                 23
YELLOW GREEN                 17
ORANGE BLUE                  10
RED YELLOW GREEN              9
YELLOW BLUE                   6
YELLOW GREEN BLUE             5
ORANGE GREEN BLUE             5
RED ORANGE YELLOW             4
RED YELLOW GREEN BLUE         4
RED ORANGE BLUE               3
RED ORANGE GREEN              3
RED YELLOW BLUE               3
RED ORANGE YELLOW BLUE        1
ORANGE YELLOW BLUE            1
ORANGE YELLOW GREEN           1
Name: Colors Reported, dtype: int64

In [33]:
ufo.dropna(how = 'any').shape

(18216, 5)

In [34]:
ufo.shape

(18241, 5)

In [36]:
ufo.dropna(how = 'all').shape

(18241, 5)

In [39]:
ufo.isnull().sum()

City               25
Colors Reported     0
Shape Reported      0
State               0
Time                0
dtype: int64

In [42]:
ufo['City'].value_counts()

Seattle          187
New York City    161
Phoenix          137
Houston          108
Las Vegas        105
                ...
Findlay            1
Thurmont           1
Georgis            1
Concrete           1
Black Earth        1
Name: City, Length: 6476, dtype: int64

In [45]:
print(ufo['City'].value_counts(dropna=False))

Seattle          187
New York City    161
Phoenix          137
Houston          108
Las Vegas        105
                ...
Oak Grove          1
Nettleton          1
London Mills       1
Catalina           1
Scotland           1
Name: City, Length: 6477, dtype: int64

In [46]:
ufo['City'].fillna(value='Various', inplace = True)

In [47]:
ufo.dropna().shape

(18241, 5)

In [48]:
ufo.shape

(18241, 5)