In [1]:
import pandas as pd

In [6]:
ufo = pd.read_table('http://bit.ly/uforeports')
ufo

       City,Colors Reported,Shape Reported,State,Time
0                  Ithaca,,TRIANGLE,NY,6/1/1930 22:00
1               Willingboro,,OTHER,NJ,6/30/1930 20:00
2                    Holyoke,,OVAL,CO,2/15/1931 14:00
3                     Abilene,,DISK,KS,6/1/1931 13:00
4      New York Worlds Fair,,LIGHT,NY,4/18/1933 19:00
...                                               ...
18236        Grant Park,,TRIANGLE,IL,12/31/2000 23:00
18237           Spirit Lake,,DISK,IA,12/31/2000 23:00
18238               Eagle River,,,WI,12/31/2000 23:45
18239       Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240                  Ybor,,OVAL,FL,12/31/2000 23:59

[18241 rows x 1 columns]

In [7]:
ufo = pd.read_table('http://bit.ly/uforeports', sep = ',')
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [8]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [9]:
type(ufo)

pandas.core.frame.DataFrame

In [10]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [14]:
type(ufo['City'])

pandas.core.series.Series

In [15]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [17]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [18]:
ufo.State

0        NY
1        NJ
2        CO
3        KS
4        NY
         ..
18236    IL
18237    IA
18238    WI
18239    WI
18240    FL
Name: State, Length: 18241, dtype: object

In [19]:
ufo.Colors Reported

SyntaxError: invalid syntax (<ipython-input-19-823f97112488>, line 1)

In [20]:
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [21]:
'Tariq' + 'Says'

'TariqSays'

In [22]:
ufo.City + ufo.State

0                      IthacaNY
1                 WillingboroNJ
2                     HolyokeCO
3                     AbileneKS
4        New York Worlds FairNY
                  ...
18236              Grant ParkIL
18237             Spirit LakeIA
18238             Eagle RiverWI
18239             Eagle RiverWI
18240                    YborFL
Length: 18241, dtype: object

In [23]:
 ufo.City + ' , ' + ufo.State

0                      Ithaca , NY
1                 Willingboro , NJ
2                     Holyoke , CO
3                     Abilene , KS
4        New York Worlds Fair , NY
                   ...
18236              Grant Park , IL
18237             Spirit Lake , IA
18238             Eagle River , WI
18239             Eagle River , WI
18240                    Ybor , FL
Length: 18241, dtype: object

In [25]:
ufo.Location = ufo.City + ' , ' + ufo.State

C:\Users\M TARYK\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [26]:
ufo['Location'] =  ufo.City + ' , ' + ufo.State

In [27]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca , NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro , NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke , CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene , KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair , NY"